/*
	Focal Point by Pixelarity
	pixelarity.com @pixelarity
	License: pixelarity.com/license
*/

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body
	{
		min-width: 1000px;
	}

/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

	#header-wrapper
	{
		padding: 7em 0 0 0;
	}

		.homepage #header-wrapper
		{
			padding: 8em 0 0 0;
		}

	.wrapper
	{
		padding: 4em 0 4em 0;
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		position: static;
	}
	
/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		text-align: center;
	}

/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/

	#nav
	{
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		text-align: center;
		width: 100%;
		min-width: 960px;
	}
	
		#nav > ul > li > a,
		#nav > ul > li > span
		{
			padding: 1.1em 1.5em !important;
			font-size: 1em;
		}
			
		#nav .current_page_item > a
		{
			background: #3f3f3f;
			border-radius: 0px 0px 5px 5px;
			color: #FFF;
		}